.maindiv {
    height: 800px;
    width: 1000px;
    margin-left: 150px;



}

#resume {
    font-size: 20px;

    border-radius: 20px;
    background-color: rgb(238, 88, 88);
    color: white;
    width: 120px;
    height: 50px;
}

#coral:hover {
    color: rgb(238, 88, 88);
    text-decoration: underline;

}

#resume:hover {
    background-color: white;
    color: rgb(238, 88, 88);
}

h2 {
    margin-left: 50px;
    color: rgb(238, 88, 88);
}

ul {
    margin-left: 25px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#hj {
    margin-left: 40px;
    font-size: 60px;
}


#mj {
    margin-left: 50px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    margin-left: 50px;
    color: rgb(238, 88, 88);
}

h1 {
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(238, 88, 88);
}

h3 {
    margin-left: 50px;
    font-size: 30px;

}

@media screen and (max-width: 480px) {
    body {
        background-color: lightgreen;
    }

    .maindiv {
        /* border:solid black 3px ; */
        height: 500px;
        width: 300px;
        margin-left: 0px;
    }

    #tabletop {
        height: 20px;
        width: 320px;
    }

    h2 {
        margin-left: 0px;
        font-size: 15px;
    }




    #mj {
        font-family: sans-serif;
        margin-left: 0px;
        font-size: large;
    }


    body {
        background-color: white;
    }



    #logo {
        height: 30px;
        width: 30px;
    }

    #tabletop {
        height: 30px;
        width: 315px;


    }

    #tabletop1 {
        height: 60px;
        width: 315px;
    }

    #resume {
        font-size: 12px;

        border-radius: 20px;
        background-color: rgb(238, 88, 88);
        color: white;
        width: 60px;
        height: 25px;
    }

    #hj {
        margin-left: 0px;
        font-size: 30px;
    }
}